version: '3.8'

services:
  db:
    image: postgres:15
    container_name: maiorbicho_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - backend_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: maiorbicho_backend
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
    volumes:
      - static_vol:/app/staticfiles
      - media_vol:/app/media
    networks:
      - backend_network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    entrypoint: ["./entrypoint.sh"]
    command: ["gunicorn", "--bind", "0.0.0.0:8000", "--workers", "3", "--worker-class", "uvicorn.workers.UvicornWorker", "core.wsgi:application"]

  nginx:
    image: nginx:alpine
    container_name: maiorbicho_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/options-ssl-nginx.conf:/etc/nginx/snippets/options-ssl-nginx.conf
      - static_vol:/vol/static
      - media_vol:/vol/media
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    networks:
      - backend_network
    depends_on:
      - backend
    restart: unless-stopped
    command: >
      sh -c "nginx -g 'daemon off;'"

  certbot:
    image: certbot/certbot
    container_name: maiorbicho_certbot
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    networks:
      - backend_network
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --webroot --webroot-path=/var/www/certbot --quiet; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped

networks:
  backend_network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  static_vol:
    driver: local
  media_vol:
    driver: local
  certbot_conf:
    driver: local
  certbot_www:
    driver: local
